html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

body {
    overflow-x: hidden;
}

.navbar { 
    background-color:white;
    margin: 0;
}

.navbar-nav li {
    border-right: grey solid 1px;
}

.navbar-nav a {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nameTop {
    color: lightgray;
}

.header{
    background-image: url('/images/alan-carrillo-HIghIy9i0aY-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.50);
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 5em;
}

.description h1 {
    color: white;
}
.description p {
    color:white;
    font-size: 20px;
    line-height: 1.5;
}

.description button {
    border: white solid 1px;
    color:#fff;
    outline: none;
}

.description button:hover {
    background-color: white;
    color: lightgray;
}

.description a:hover {
    text-decoration: none;
    color: lightgray;
}

.about{ 
    margin: 4em auto;
    padding: 1em;
    position: relative;
    border-bottom: solid lightgrey 1px;
}
.about h1 {
    color:lightgray;
    margin: 2em;
}
.about img {
    padding: 5px 10px;
    height: 250px;
    width: 250px;
    border-radius: 50%
}
.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 100px;
}
.about .desc {
    padding: 2em;
    border-left:1px solid lightgrey
    ;
}
.about .desc h3 {
    color: #000000;
}
.about .desc p {
    line-height:2;
    color:#888;
}

.portfolio {
    justify-items: center;
    margin: 2em auto;
    padding: 1em;
    position: relative; 
    border-bottom: solid lightgrey 1px;
}

.portfolio h1 {
    color:grey;
    margin: 2em; 
}
.portfolio img {
    justify-items: center;
    height: 15rem;
    width: 100%;
    margin: 1em;
}

